<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/fileActions.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="fileActionsCont">
      <button class="createFolderBtn">
        <i class="fa-solid fa-folder-plus createFolderIcon"></i>
        <span class="tooltipText">Create Folder</span>
      </button>

      <button class="createFileBtn">
        <i class="fa-solid fa-file-circle-plus createFolderIcon"></i>
        <span class="tooltipText">Create File</span>
      </button>
    </div>
  </body>
</html>
