<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="headerCont">
      <h1 class="headerHead">File Uploader</h1>

      <button class="smallLogoutBtn">
        <i class="logoutIcon fa-solid fa-right-from-bracket"></i>
        <span class="tooltipText">Logout</span>
      </button>
    </div>
  </body>
</html>
