<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/homePage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="homepageCont">
      <%- include("./header") %>

      <div class="filesCont">
        <div class="fileHeadersCont">
          <div class="fileNameCont">
            <p class="fileName">Name</p>
          </div>

          <div class="fileSizeCont">
            <p class="fileSize">Size</p>
          </div>

          <div class="fileCreatedCont">
            <p class="fileCreated">Created At</p>
          </div>
        </div>
      </div>

      <%- include("./fileActions") %>
    </div>
  </body>
</html>
