<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/newFileModal.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="fileOverlay" id="fileModal">
      <form class="newFolderModalCont">
        <div class="topSection">
          <h1 class="head">New File</h1>
          <button type="button" class="fileCloseBtn" id="fileCloseBtn">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>

        <label class="folderLabel">Name</label>
        <input type="text" placeholder="Enter File Name" class="folderInput" />

        <button type="submit" class="createBtn">Create</button>
      </form>
    </div>
  </body>
</html>
