* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --navBar-color: hsl(0, 0%, 0%);
  --background-color: hsl(0, 0%, 0%);
  --btn-color: hsl(0, 0%, 10%);
  --text-color1: hsl(0, 0%, 95%);
  --text-color2: hsl(0, 0%, 70%);
  --border: hsl(0, 0%, 30%);
  --highlight: hsl(0, 0%, 60%);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --bg-dark: hsl(336 0% 1%);
  --bg: hsl(300 0% 4%);
  --bg-light: hsl(0 0% 9%);
  --text: hsl(300 0% 95%);
  --text-muted: hsl(300 0% 69%);
  --highlight2: hsl(330 0% 39%);
  --border2: hsl(0 0% 28%);
  --border-muted: hsl(300 0% 18%);
  --primary: hsl(0 66% 75%);
  --secondary: hsl(183 52% 57%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  --font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
  /* --font-family: "sans-serif"; */
}

.fileActionsCont {
  width: 100%;
  padding: 1.2em 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: auto;
  border-top: 1px solid var(--border);
}

.createFolderBtn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: relative;
}

.createFolderIcon {
  color: var(--text-color1);
  font-size: clamp(1em, 4vw, 1.2em);
}

.createFileBtn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: relative;
}

.tooltipText {
  position: absolute;
  bottom: -90%;
  left: 50%;
  transform: translateX(-50%);

  background: #333;
  color: var(--text-color1);
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 10px;
  white-space: nowrap;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.createFolderBtn:hover {
  color: var(--text-color2);
}

.createFolderBtn:hover .tooltipText {
  opacity: 1;
  visibility: visible;
}

.createFileBtn:hover {
  color: var(--text-color2);
}

.createFileBtn:hover .tooltipText {
  opacity: 1;
  visibility: visible;
}

.tooltipText::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);

  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}
