* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --navBar-color: hsl(0, 0%, 0%);
  --background-color: hsl(0, 0%, 0%);
  --btn-color: hsl(0, 0%, 10%);
  --text-color1: hsl(0, 0%, 95%);
  --text-color2: hsl(0, 0%, 70%);
  --border: hsl(0, 0%, 30%);
  --highlight: hsl(0, 0%, 60%);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --bg-dark: hsl(336 0% 1%);
  --bg: hsl(300 0% 4%);
  --bg-light: hsl(0 0% 9%);
  --text: hsl(300 0% 95%);
  --text-muted: hsl(300 0% 69%);
  --highlight2: hsl(330 0% 39%);
  --border2: hsl(0 0% 28%);
  --border-muted: hsl(300 0% 18%);
  --primary: hsl(0 66% 75%);
  --secondary: hsl(183 52% 57%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  --font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
  /* --font-family: "sans-serif"; */
}

.homepageCont {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--bg-dark);
  font-family: "cursive";
  display: flex;
  flex-direction: column;
  color: var(--text);
  padding: 0em 1em;
}

.sideBarWrapperCont {
  display: flex;
}

.sidebar {
  height: 100vh;
  flex-grow: 1;
  border-right: 1px solid var(--border);
  max-width: 250px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 16px 10px;
}

.newFolderBtnCont {
  display: flex;
  background-color: var(--bg-light);
  border: 1px solid var(--border);
  border-radius: 0.3em;
  padding: 4px 2px;
  font-family: var(--font-family);
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  width: clamp(50px, 100vw, 200px);
  cursor: pointer;
  margin-top:.8em;
}

.newFolderBtn {
  background-color: transparent;
  border: none;
  color: var(--text-color1);
}

.folderIcon {
  font-size: clamp(0.8em, 1vw, 1.2em);
}

.newFolderPara {
  margin-left: 0.3em;
  font-size: clamp(0.8em, 1vw, 1em);
  margin-bottom: 0.1em;
}

.filesCont {
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  font-family: var(--font-family);
  color: var(--text-color1);
  flex-grow: 2;
  margin-top: 1em;
  width: 100%;
}

.fileHeadersCont {
  display: flex;
  justify-content: space-around;
  padding: 1em 0em;
}

.fileNameCont {
  flex-grow: 2;
  padding-right: 1em;
}

.fileName {
  font-size: clamp(1em, 3vw, 1.1em);
}

.fileSizeCont {
  flex-grow: 1;
  padding-right: 1em;
}

.fileSize {
  font-size: clamp(1em, 3vw, 1.1em);
}

.fileCreatedCont {
  flex-grow: 1;
  padding-right: 1em;
}

.fileCreated {
  font-size: clamp(1em, 3vw, 1.1em);
  white-space: nowrap;
}

@media (min-width: 768px) {
  .sidebar {
    display: flex;
  }
}
